@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1cap;
}

@layer base {
  h1 {
    @apply text-4xl font-bold md:text-5xl;
  }

  h2 {
    @apply text-3xl font-bold md:text-4xl;
  }

  h3 {
    @apply text-2xl font-bold md:text-3xl;
  }

  h4 {
    @apply text-xl font-bold;
  }

  h5 {
    @apply text-lg font-bold;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #ffffff0f;
  }
}

@layer utilities {
  .wrapper {
    @apply mx-auto px-0 sm:px-8;
    max-width: 400px;
  }

  .wrapper-radial {
    @apply px-[18px] py-6 bg-gradient-radial min-h-[100vh];
  }

  .wrapper-private {
    @apply px-[18px] py-6 bg-[#09141A] min-h-[100vh];
  }

  .save-blue-text-gradient {
    background: linear-gradient(
      135deg,
      #abfffd 2.64%,
      #4599db 102.4%,
      #aadaff 102.4%
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  .only-golden-gradient-text {
    background: linear-gradient(
      74deg,
      #94783e -6.8%,
      #f3eda6 16.76%,
      #f8fae5 30.5%,
      #ffe2be 49.6%,
      #d5be88 78.56%,
      #f8fae5 89.01%,
      #d5be88 100.43%
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  .golden-gradient-text {
    background: linear-gradient(
      74deg,
      #94783e -6.8%,
      #f3eda6 16.76%,
      #f8fae5 30.5%,
      #ffe2be 49.6%,
      #d5be88 78.56%,
      #f8fae5 89.01%,
      #d5be88 100.43%
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    position: relative;
  }

  .golden-gradient-text::after {
    content: "";
    position: absolute;
    bottom: -1.5px;
    left: 0;
    width: 100%;
    height: 1.5px;
    background: linear-gradient(
      74deg,
      #94783e -6.8%,
      #f3eda6 16.76%,
      #f8fae5 30.5%,
      #ffe2be 49.6%,
      #d5be88 78.56%,
      #f8fae5 89.01%,
      #d5be88 100.43%
    );
  }
}
